body{font-family: 'Pacifico', cursive;
    background-color: var(--main);}
:root{--header:#B44D12;
    --font1:#FFF3C4;
    --font2:#222222;
    --font3:#035388;
    --main:#F7F7F7;
    --border:#8D2B0B;
    --contayner:#FFFBEA;
    --button:#DE911D;
    --background_form:#de911d38;
    --form:#FCE588}
header{background-color: var(--header);
    }
.title{max-width: 1280px;
    padding: 50px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center}
.title_text{color: var(--font1);
    font-size: 50px;
    text-shadow:2px 2px 2px #222222;
    }
.add{padding: 8px 40px;
    border-radius: 20px;
    font-size: 20px;
    color: var(--border);
    text-shadow:0.5px 0.5px 0.5px #222222;
    box-shadow:2px 2px 2px var(--border);}
.background_form__add{position: absolute;
    background-color: var(--background_form);
    display: none;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    justify-content: center;
    align-items: center;}
.form__add{display: flex;
    flex-direction: column;
    background-color: var(--form);
    padding: 40px;
    gap: 20px;
    border-radius: 20px;
    box-shadow:1px 1px 1px var(--border);}
input{background-color: var(--contayner);
    padding: 15px 80px;
    border-radius: 20px;
    outline: none;
    border: none;
    box-shadow:1px 1px 1px var(--border);
    font-family: 'Pacifico', cursive;
    font-size: 20px;
    text-align:center;}
.save{border-radius: 20px;
    padding: 15px 80px;
    box-shadow:1px 1px 1px var(--border);
    text-shadow:0.5px 0.5px 0.5px #222222;
    font-size: 20px;
    text-align:center;
    width: calc(100%/2);}
.form__add_title{font-size: 30px;
    padding: 10px 0;}
.form__add_year_image{display: flex;
    gap: 20px;}
.form__add_button{display: flex;
    gap: 20px;
    justify-content: space-between;}
.book_contayner{max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;    }
@media(max-width: 1024px){.book_contayner{display: flex;
    flex-direction: column;
    
    align-items: center;}}
.book__body{background-color: var(--contayner);
    color: var(--font2);
    border: 1px solid var(--border);
    border-radius: 5%;
    font-size: 15px;
    box-shadow: 1px 1px 1px var(--header);
    padding: 30px 20px;
    width: calc(100%/12*3);
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height:2;
    margin: 20px 0;
    justify-content: space-between
    }
.title_book{color: var(--font3);
    font-size: 18px;}
img{width: 250px;
height: 250px;
object-fit: contain;
object-position: center;}
.book__control{display: flex;
    gap: 10px;}
.button{display: flex;
    width: 50%;
    border-top: 1px solid var(--border);}
button{font-family: 'Pacifico', cursive;
    background-color: var(--contayner);
    border: none;
    font-size: 15px;
    color: var(--button); }
@media(max-width: 1024px){.book__body, .title_book, button{font-size: 25px;
    }}
 @media(max-width: 1024px){img{width: 300px;
    height: 300px;
    }}
button:hover{cursor: pointer;}
button:active{color: var(--header);}
